h2 {
    font-size: 20px;

}

#chungus {
    display: flex;
    flex-direction: row;
}



#cityHistory {
    display: flex;
    width: 100%;
    justify-content: center;
}

#findCity {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    border: 1px;
    color: white;
    background: linear-gradient(45deg, rgb(101, 102, 195), rgb(71, 31, 120));
    text-align: center;    
}

#citydisplay {
border: 2px solid;
position: relative;
top: 10px;
}

.container {
border: 1px solid;
width: 130px;
height: 180px;
display: inline-block;
background-color: slategrey;
}

#Weekforecast { 
background-color: white;
position: relative;
top: 50px;
} 

#Weather {
    display: flex;
    flex-direction: column;
}

nav {
    width: 20%;
}